<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Saver</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">lock_outline</i>Password Saver</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(!currentUser) {%>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <%} else { %>
        <li><a href="/passwords">View Passwords</a></li>
        <li>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
          </form>
        </li>
        <% }%>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%if (messages.error) {%>
  <br>
  <br>
  <div>
    <%= messages.error%>
  </div>
  <%}%>