<% include partials/header %>

<h1 class="center-align">Home page</h1>
<%if(currentUser){%>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<%}%>