<% include partials/header %>
<h3>login page</h3>
<div class="row">
    <form class="col s6 offset-s3" method="post" action="/login">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" name="username" class="validate" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Password</label>
            </div>
            <button class="btn blue col offset-s5">Login</button>
        </div>
    </form>
</div>
<% include partials/footer %>