<% include partials/header %>

<h1>Passwords page</h1>
<%=currentUser.username%>
<br>
<a href="/passwords/new">Create new password</a>
<br>
<ul class="collection">
    <% currentUser.passwords.forEach(password => {%>
    <li class="collection-item avatar">
      <span class="title">Password For <%=password.for%></span>
      <p><%=password.password%> <br>
         Show button
      </p>
      <a href="#!" class="secondary-content">Copy</a>
    </li>
    <%});%>
</ul>

<% include partials/footer %>