<% include partials/header %>

<h3 class="center-align">View your passwords</h3>
<div class="center-align">
   <a href="/passwords/new" class="btn">Create new password</a>
</div>
<div class="row">
   <% currentUser.passwords.forEach(password => {%>
   <div class="card hoverable blue-grey darken-2 col s12 m6">
      <div class="card-content white-text">
         <span class="card-title">Password for: <br> <%=password.for%></span>
         <p><%=password.password%></p>
      </div>
      <div class="card-action" style="display:inline-flex;">
         <a href="#!" class="btn-small">Copy</a>
         <a href="/passwords/<%=password._id%>/edit" class="btn-small yellow darken-1" style="margin-left:6px">Edit</a>
         <form action="/passwords/<%=password._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn-small red darken-1" style="margin-left:6px">Delete</button>
         </form>
      </div>
   </div>
   <%});%>
</div>
<% include partials/footer %>